/*body{
  background-image: url("../img/vangeluz.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  color: teal;*/
label{
  font-size: 20px;
}

#formulario{
  font-family: 'Eagle Lake', cursive;
  text-align: center;
  background-color: lightblue;

}
h1{
  font-family: 'Gloria Hallelujah', cursive;
  font-size: 50px;
}

#comentarios{
  width : 500px;
  height: 150px;
}
